/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom:20px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.table{
  margin-bottom: 0;
}

td,th {
  text-align: center;
}

.panel-title em {
  float:right;
}

.panel-title span {
  margin-left:5px;
}

.btn-group-icons {
  float:right;
}

.edit-monster,
.edit-spell {
  float:right;
}

textarea{
  min-height: 100px;
}

