<div class="well well-sm">
    <table class="table">
        <thead>
            <tr>
                <th>STR</th><th>DEX</th><th>CON</th><th>INT</th><th>WIS</th><th>CHA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{monster.str}}</td><td>{{monster.dex}}</td><td>{{monster.con}}</td><td>{{monster
                .int}}</td><td>{{monster.wis}}</td><td>{{monster.cha}}</td>
            <tr></tr>
                <td>({{monster.strMod}})</td><td>({{monster.dexMod}})</td><td>({{monster.conMod}})</td><td>({{monster.intMod}})</td><td>({{monster.wisMod}})</td><td>({{monster.chaMod}})</td>
            </tr>
        </tbody>
    </table>
    <strong>Armor Class</strong>: {{monster.armorClass}}<br/>
    <strong>Hit Points</strong>: {{monster.hitPoints}}<br/>
    <strong>Skills</strong>: {{monster.skills}}<br/>
    <strong>Senses</strong>: {{monster.senses}}<br/>
    <strong>Languages</strong>: {{monster.languages}}<br/>
    <strong>Challenge</strong>: {{monster.challenge}}<br/>
</div>

<div class="btn-group btn-group-icons">
    <button class="btn"
            ng-repeat="(icon,val) in monsterIconFilters"
            ng-click="toggleIconFilter(monster,icon)"
            ng-class="monsterIcons[monster.name][icon] ? 'btn-primary' : 'btn-default'">
        <span class="glyphicon" ng-class="'glyphicon-' + icon"></span>
    </button>
</div>

<div marked="monster.features"></div>
<hr/>
<div marked="monster.actions"></div>

