<div class="well well-sm">
    <div class="btn-group btn-group-icons">
        <button class="btn"
                ng-repeat="(icon,val) in iconFilters"
                ng-click="toggleIconFilter(spell,icon)"
                ng-class="spellIcons[spell.name][icon] ? 'btn-primary' : 'btn-default'">
            <span class="glyphicon" ng-class="'glyphicon-' + icon"></span>
        </button>
    </div>

    <strong>Casting Time</strong>: {{spell.castingTime}}<br/>
    <strong>Range</strong>: {{spell.range}} <br/>
    <strong>Components</strong>: {{spell.components}} <br/>
    <strong>Duration</strong>: {{spell.duration}} <br/>
    
    
</div>

<button ng-show="apikey.length > 0 && !spell.editing" class="btn btn-default edit-spell"
        ng-click="spell.editing = !spell.editing">
    <span class="glyphicon glyphicon-pencil"></span>
</button>

<div marked="spell.description"></div>