<div ng-include="'/views/partials/nav.html'" ></div>
<div ng-show="monsters.length ==0">
    <a ng-click="loadMonsters()"
        class="btn btn-lg">Load Monster Data
    </a>
</div>
<div ng-hide="monsters.length==0">
    <!-- CR buttons -->
   <div class="btn-group">
      <button ng-repeat="(cr,show) in crFilters" 
        ng-click="setCRFilter(cr)"
        class="btn"
        ng-class="show ? 'btn-primary':'btn-default'">{{cr}}</button>
    </div><br/><br/>
    

    <article class="panel panel-info" ng-repeat="monster in monsters">
        <header class="panel-heading" ng-click="monster.collapsed=!monster.collapsed">
            <h2 class="panel-title">
                {{monster.name}}
                <em>{{monster.type}}</em>
            </h2>
        </header>
        <div class="panel-monster panel-body" 
             ng-include="monster.collapsed ? '' : '/views/partials/monsterDetails.html'" >
        </div>
    </article>
</div>