<div ng-include="'/views/partials/nav.html'" ></div>
<div ng-show="monsters.length ==0">
    Loading Monster Data
</div>
<div ng-show="monsters.length>0" >
  <div class="form-group">
    <br/>
    <!-- CR buttons -->
    <div class="btn-group">
      <button ng-repeat="cr in crFiltersDisplay" 
        ng-click="setCRFilter(cr)"
        class="btn"
        ng-class="crFilters[cr] ? 'btn-primary':'btn-default'">{{cr}}</button>
    </div>

    <!-- Icon Filter -->
    <br/><br/>
    <div class="btn-group">
      <button class="btn"
          ng-repeat="(icon,val) in monsterIconFilters"
          ng-click="toggleShowIconFilter(icon)"
          ng-class="val ? 'btn-primary' : 'btn-default'">
        <span class="glyphicon" ng-class="'glyphicon-' + icon"></span>
      </button>
    </div>
    <br/><br/>

    <!--name box -->
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" ng-model="nameQuery"/>
        <span class="input-group-addon clickable"  ng-show="nameQuery.length>0"
          ng-click="nameQuery = ''">
          <span class="glyphicon glyphicon-remove"></span>
        </span>
    </div><br/>
    </div>

    <article id="{{monster._id}}" class="panel panel-info" ng-repeat="monster in monsters | filter:{name:nameQuery} " ng-show="showMonster(monster)">
        <header class="panel-heading" ng-click="monster.collapsed=!monster.collapsed">
            <h2 class="panel-title">
                {{monster.name}}
                <span 
                  ng-repeat="(icon,val) in monsterIcons[monster.name]"
                  class="glyphicon" 
                  ng-class="'glyphicon-' + icon"
                  ng-show="val"></span>
                <em>{{monster.size}}</em>
            </h2>
        </header>
        <div class="panel-monster panel-body" 
             ng-include="monster.collapsed ? '' : (monster.editing ? '/views/partials/monsterEdit.html' : '/views/partials/monsterDetails.html')" >
        </div>
    </article>
</div>

<div class="input-group" ng-show="apikey.length > 0">
  <input type="text" ng-model="createName" class="form-control" placeholder="Name">
  <span class="input-group-btn">
    <button class="btn btn-success" type="button">
      <span class="glyphicon glyphicon-plus-sign" ng-click="createMonster(createName)">  
    </button>
  </span>
</div>

